html{
    background: #000 url("https://www.winescholarguild.org/media/k2/items/cache/d857df8a9cfd7c86ccb2e9f710b5414b_XL.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    background-color: black;
    position: relative;

    }
.color-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(166, 53, 241);
    opacity: 0.4;
    position: absolute;
    background-size: cover;
    z-index: -1;
}
#logo{
    height: 50;
    width: 50;
    position: sticky;
}
h2{
    text-align: center;
}
#container{
    width: 80%;
    border: 0 auto;
    z-index: 1;
}
body{
    background-color: none;
    margin: 10;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
head{
    background-color: azure;

}
logo{
    float: left;
    padding: 10px 0;
}
nav ul li{
    display: inline-block;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;

}
nav li{
    margin-left: 70px;
    padding-top: 5%;
    position: relative;
}
nav a{
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

nav a::before{
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
}

nav>ul>li>a:hover {
    box-shadow: 0 0 10px black, inset 0 0 1px black;
    background: rgb(21, 218, 14);
    color: black;
    }
#one{
   margin-left: 1px;
   align-content: center;

}

#about{
    background-color: coral;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin-left: 250px;
    text-align: center;
    font-family: 'Unna', serif;

}
#logo{
    height: 80px;
    width: 80px;
    padding-bottom: 15px;
}
h3{
    text-decoration-line: underline;
 
}
.content{
    position:relative;
    display:inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(182, 108, 224);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(189, 89, 89);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(78, 190, 44);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: aqua;
}

.content:hover .dropdown-content{
    display: block;
}
.dropdown:hover .services{
    background-color: chocolate;
}

.contact{
    position:relative;
    display:inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(182, 108, 224);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(189, 89, 89);
    z-index: 1;
}
.dropdown-content a{
    color: rgb(78, 190, 44);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: aqua;
}

.contact:hover .dropdown-content{
    display: block;
}
.dropdown:hover .contacts{
    background-color: chocolate;
}
footer ul li{
    display: inline-block;
}
footer{
    text-align: center;
}
footer ul{
    margin: 0;
    padding: 0;

}
footer li{
    margin-left: 70px;
    padding-top: 5%;
    position: relative;
}
footer a{
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

footer a::before{
    display: block;
    height: 5px;
    width: 100%;
    background-color: black;
    position: absolute;
}

footer>ul>li>a:hover {
    box-shadow: 0 0 10px black, inset 0 0 1px black;
    background: rgb(21, 218, 14);
    color: black;
    }

footer{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(12, 5, 5);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: coral;
    margin-left: 250px;
    margin-top: 10px;
    margin-right: 380px;
}
.Libby{
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1%;
    margin-left: 250px;
    font-family: 'Actor', sans-serif;
}

.first{
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: coral;
    border-radius: 6%;
    text-align: center;
    box-shadow: 5px 5px black;
}
.second{
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: coral;
    border-radius: 6%;
    text-align: center;
    box-shadow: 5px 5px black;
}
.third{
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: coral;
    border-radius: 6%;
    text-align: center;
    box-shadow: 5px 5px black;
}
.fourth{
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: coral;
    border-radius: 6%;
    text-align: center;
    box-shadow: 5px 5px black;
}
h4{
    text-align: center;
}
.wines{
   text-align: center;
   display: flex;
   flex-direction: column;
   left:50;
   right: 50;
   justify-content: space-around;
   margin-top: 10px;
   margin-bottom: 1%; 
   image-orientation: from-image;
   background-color: coral;
   margin-left: 250px;
   font-family: 'El Messiri', sans-serif;
}
.south{
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: none;
    border-radius: 6%;
    text-align: center;
}
.service{
    background-color: coral;
    text-decoration-style: solid;
    margin-left: 250px;
    font-family: 'Unna', serif;
}
#contacts{
    background-color: coral;
    text-align: center;
    margin-left: 250px;
}